  <div class="page-header">
    <h3>Короткая Форма</h3>
  </div>

    [% form.render %]

	$(document).ready(function() {
  if ($('#validation_json').length > 0) {
    var validationJSON = JSON.parse(decodeURIComponent($('#validation_json').val()));
    $('.form-horizontal').validate({
        rules: validationJSON.rules,
        messages: validationJSON.messages
    });
  }
});
